<%- include('partials/header') %>

  <section class="products">
    <div class="container">
     <h1><%= t('about.pageTitle') %></h1>
      <p><%= t('about.introduction') %></p>
  
      <section class="features">
        <h2><%= t('about.missionTitle') %></h2>
        <p><%= t('about.missionDescription') %></p>
      </section>

      <section class="features">
        <h2><%= t('about.visionTitle') %></h2>
        <p><%= t('about.visionDescription') %></p>
        <p><%= t('about.visionMore') %></p>
      </section>
      <section class="features">
        <h2><%= t('about.backgroundTitle') %></h2>
        <ul>
          <li><%= t('about.softwareDevelopment') %></li>
          <li><%= t('about.itDecisionMaking') %></li>
          <li><%= t('about.itAnalysis') %></li>
          <li><%= t('about.productDevelopment') %></li>
          <li><%= t('about.projectManagement') %></li>
        </ul>
      </section>
      <section class="features">
        <h2><%= t('about.valuesTitle') %></h2>
        <ul>
          <li><%= t('about.customerFocus') %></li>
          <li><%= t('about.qualityAndSecurity') %></li>
          <li><%= t('about.innovationAndExpertise') %></li>
          <li><%= t('about.transparencyAndPartnership') %></li>
        </ul>
      </section>
    </div>  
  </section>

<%- include('partials/footer') %>