<%- include('partials/header') %>

  <section class="products">
    <div class="container">
    <h1><%= t('automatization.pageTitle') %></h1>
    <p><%= t('automatization.introduction') %></p>
    <section class="features">
      <h2><%= t('automatization.whyChooseTitle') %></h2>
      <p><%= t('automatization.whyChooseDescription') %></p>
      <p><%= t('automatization.coreMessage') %></p>
    </section>
    <section class="features">
      <h2><%= t('automatization.solutionsTitle') %></h2>
      </br>
      <h3><%= t('home.digitalColleagueTitle') %></h3>
      <p><%= t('home.digitalColleagueDescription')%> <%= t('automatization.digitalColleagueDescription')%></p>
      </br>
      <h3><%= t('home.lossStopTitle') %></h3>
      <p><%= t('home.lossStopDescription') %></p>
      </br>
      <h3><%= t('home.internationalPackageTitle') %></h3>
      <p><%= t('home.internationalPackageDescription') %></p>
      <br/>
      <div style="text-align:center">
        <a href="/solutions" class="btn"><%= t('home.solutionsButton') %></a>
      </div>
    </section>
    </br>
    <p><b><%= t('automatization.conclusionMessage') %></b></p>
  </div>
</section>
<div style="text-align:center">
  <a href="/contact" class="btn-secondary"><%= t('global.consultationButton') %></a>
</div>
<br/><br/><br/>
<%- include('partials/footer') %>