<%- include('partials/header') %>
  </br>
  </br>
  <main class="container about-page">
    <h1><%= t('cookiepolicy.title') %></h1>
    </br>
    <h2><%= t('cookiepolicy.metaDescription') %></h2>
    <p><%= t('cookiepolicy.t_name') %></p>
    <p><%= t('cookiepolicy.t_provider') %></p>
    <p><%= t('cookiepolicy.t_purpose') %></p>
    <p><%= t('cookiepolicy.t_type') %></p>
    <p><%= t('cookiepolicy.t_duration') %></p>
    </br>
    </br>
    <p><%= t('cookiepolicy.startdate') %></p>
  </main>
  </br>
  </br>
<%- include('partials/footer') %>