<%- include('partials/header') %>

  <section class="products">
    <div class="container">
    <h1><%= t('offline.pageTitle') %></h1>
    <p><%= t('offline.introduction') %></p>

    <section class="features">
      <h2><%= t('offline.onPremisesTitle') %></h2>
      <p><%= t('offline.onPremisesDescription') %></p>
      <ul>
        <li><%= t('offline.notAccessibleFromInternet') %></li>
        <li><%= t('offline.noExternalServices') %></li>
        <li><%= t('offline.noDataTransfer') %></li>
        <li><%= t('offline.fullControl') %></li>
      </ul>
      </br>
      <h3><%= t('offline.infrastructureSupport') %></h3>
      <ul>
        <li><%= t('offline.hardwareProvision') %></li>
        <li><%= t('offline.infrastructureHelp') %></li>
        <li><%= t('offline.networkOptimization') %></li>
        <li><%= t('offline.userSupport') %></li>
      </ul>
    </section>

    <section class="features">
      <h2><%= t('offline.enterpriseSearchTitle') %></h2>
      <p><%= t('offline.enterpriseSearchDescription') %></p>
      <ul>
        <li><%= t('offline.documentProcessing') %></li>
        <li><%= t('offline.multiSource') %></li>
        <li><%= t('offline.adaptableOperation') %></li>
        <li><%= t('offline.simpleUsage') %></li>
      </ul>
    </section>

    <section class="features">
      <h2><%= t('offline.secureTranslationTitle') %></h2>
      <p><%= t('offline.secureTranslationDescription') %></p>
      <ul>
        <li><%= t('offline.internalDocTranslation') %></li>
        <li><%= t('offline.dataSecurity') %></li>
        <li><%= t('offline.reliableOperation') %></li>
      </ul>
    </section>

    <section class="features">
      <h2><%= t('offline.automatedProcessingTitle') %></h2>
      <p><%= t('offline.automatedProcessingDescription') %></p>
      <ul>
        <li>információk összegyűjtése több forrásból</li>
        <li>ismétlődő feladatok egyszerűsítése</li>
        <li>egyedi igények alapján kialakított működés</li>
      </ul>
    </section>
  </div>
</section>
<div style="text-align:center"> 
<a href="/contact" class="btn-secondary"><%= t('automatization.consultationButton') %></a>
</div>
<br/><br/>
<%- include('partials/footer') %>