<%- include('partials/header') %>
  </br>
  </br>
  <main class="container about-page">
    <h1><%= t('privacy.pageTitle') %></h1>
    </br>
    <h2><%= t('privacy.introduction') %></h2>
    <p><%= t('privacy.introductionText') %></p>
    <p><%= t('privacy.commitmentText') %></p>
    </br>
    <h2><%= t('privacy.controllerDataTitle') %></h2>
    <p><%= t('privacy.name') %></p>
    <p><%= t('privacy.address') %></p>
    <p><%= t('privacy.email') %></p>
    </br>
    <h2><%= t('privacy.dataProcessedTitle') %></h2>
    <p><%= t('privacy.dataProcessedText') %></p>
    <p><%= t('privacy.emailData') %></p>
    <p><%= t('privacy.personalData') %></p>
    </br>
    <h2><%= t('privacy.processingPurposeTitle') %></h2>
    <p><%= t('privacy.processingPurposeText') %></p>
    <p><%= t('privacy.contactPurpose') %></p>
    <p><%= t('privacy.responsePurpose') %></p>
    </br>
    <h2><%= t('privacy.legalBasisTitle') %></h2>
    <p><%= t('privacy.legalBasisText') %></p>
    </br>
    <h2><%= t('privacy.storageDurationTitle') %></h2>
    <p><%= t('privacy.storageDurationText') %></p>
    <p><%= t('privacy.storageDuration1') %></p>
    <p><%= t('privacy.storageDuration2') %></p>
    <p><%= t('privacy.storageDuration3') %></p>
    </br>
    <h2><%= t('privacy.dataSharingTitle') %></h2>
    <p><%= t('privacy.dataSharingText') %></p>
    <p><%= t('privacy.legalObligation') %></p>
    </br>
    <h2><%= t('privacy.processorTitle') %></h2>
    <p><%= t('privacy.processorText') %></p>
    <p><%= t('privacy.hostingProvider') %></p>
    </br>
    <h2><%= t('privacy.rightsTitle') %></h2>
    <p><%= t('privacy.rightsIntro') %></p>
    <p><%= t('privacy.rightInfo') %></p>
    <p><%= t('privacy.rightCorrection') %></p>
    <p><%= t('privacy.rightDeletion') %></p>
    <p><%= t('privacy.rightRestriction') %></p>
    <p><%= t('privacy.rightObjection') %></p>
    <p><%= t('privacy.contactEmail') %></p>
    </br>
    <h2><%= t('privacy.remediesTitle') %></h2>
    <p><%= t('privacy.remediesText') %></p>
    <p><%= t('privacy.authorityLabel') %></p>
    <p><%= t('privacy.authorityName') %></p>
    <p><%= t('privacy.authorityAddress') %></p>
    <p><%= t('privacy.authorityWeb') %></p>
    </br>
    <h2><%= t('privacy.otherProvisionsTitle') %></h2>
    <p><%= t('privacy.modificationRightText') %></p>
    <p><%= t('privacy.effectiveDate') %></p>
  </main>
  </br>
  </br>
<%- include('partials/footer') %>