<%- include('partials/header') %>

<section class="blog-hero">
	<div class="container">
    <span class="blog-kicker"><%= t('solutions.title') %></span>
		<h1><%= t('solutions.pageTitle') %></h1>
    <p><%= t('solutions.introduction1') %></p>
    <br/><p><%= t('solutions.introduction2') %></p>
	</div>
</section>

  <section class="products">
    <div class="container">
    <section class="features feature-row">
      <div class="feature-row__content">
        <h2><%= t('solutions.buildingBlocksTitle') %></h2>
        <ul>
          <li><%= t('solutions.buildingBlocksItem1') %></li>
          <li><%= t('solutions.buildingBlocksItem2') %></li>
          <li><%= t('solutions.buildingBlocksItem3') %></li>
          <li><%= t('solutions.buildingBlocksItem4') %></li>
          <li><%= t('solutions.buildingBlocksItem5') %></li>
          <li><%= t('solutions.buildingBlocksItem6') %></li>
          <li><%= t('solutions.buildingBlocksItem7') %></li>
        </ul>
      </div>
      <figure class="feature-row__media">
        <img src="/images/simple_chat.webp" alt="<%= t('solutions.buildingBlocksImageAlt') %>" />
      </figure>
    </section>
    <br/>
    <section class="features feature-row">
      <div class="feature-row__content">
        <h2><%= t('solutions.automationTitle') %></h2>
        <p><%= t('solutions.automationIntro') %></p>
        <ul>
          <li><%= t('solutions.automationItem1') %></li>
          <li><%= t('solutions.automationItem2') %></li>
          <li><%= t('solutions.automationItem3') %></li>
        </ul>
       </div>
      <figure class="feature-row__media">
       <img src="/images/rag_search.webp" alt="<%= t('solutions.automationImageAlt') %>" />
      </figure>
    </section>
    <br/>
    <section class="features feature-row">
      <div class="feature-row__content">
        <h2><%= t('solutions.forecastingTitle') %></h2>
        <p><%= t('solutions.forecastingIntro') %></p>
        <ul>
          <li><%= t('solutions.forecastingItem1') %></li>
          <li><%= t('solutions.forecastingItem2') %></li>
        <li><%= t('solutions.forecastingItem3') %></li>
        <li><%= t('solutions.forecastingItem4') %></li>
      </ul>
      </div>
      <figure class="feature-row__media">
        <img src="/images/prophet.webp" alt="<%= t('solutions.forecastingImageAlt') %>" />
      </figure>
    </section>
    <br/>
    <section class="features">
      <h3><%= t('solutions.otherServicesTitle') %></h3>
      <ul>
        <li><%= t('solutions.otherServicesItem1') %></li>
        <li><%= t('solutions.otherServicesItem2') %></li>
        <li><%= t('solutions.otherServicesItem3') %></li>
        <li><%= t('solutions.otherServicesItem4') %></li>
        <li><%= t('solutions.customSolutionsTitle') %>
          <ul>
            <li><%= t('solutions.customSolutionsItem1') %></li>
            <li><%= t('solutions.customSolutionsItem2') %></li>
            <li><%= t('solutions.customSolutionsItem3') %></li>
            <li><%= t('solutions.customSolutionsItem4') %></li>
            <li><%= t('solutions.customSolutionsItem5') %></li>
          </ul>
       </li>
      </ul>
    </section>
    <section class="features">
      <h3><%= t('solutions.impTitle') %></h3>
      <ul>
        <li><%= t('solutions.impCloudIntro') %></li>
        <li><%= t('solutions.impOfflineIntro') %></li>
      </ul>
    </section>
  </div>
</section>
<div style="text-align:center"> 
<a href="<%= localizePath('/contact') %>" class="btn-secondary"><%= t('global.consultationButton') %></a>
</div>
<br/><br/>
<%- include('partials/footer') %>