<%- include('partials/header') %>
  </br>
  </br>
  <main class="container about-page">
    <h1><%= t('terms.pageTitle') %></h1>
    </br>
    <p><%= t('terms.intro') %></p>
    </br>
    <section class="values">
      <h2><%= t('terms.servicesTitle') %></h2>
      <p><%= t('terms.servicesDescription') %></p>

      </br>
      <h2><%= t('terms.contractTitle') %></h2>
      <p><%= t('terms.contractDescription') %></p>

      </br>
      <h2><%= t('terms.pricesTitle') %></h2>
      <p><%= t('terms.pricesDescription') %></p>

      </br>
      <h2><%= t('terms.liabilityTitle') %></h2>
      <p><%= t('terms.liabilityDescription') %></p>

      </br>
      <h2><%= t('terms.disputesTitle') %></h2>
      <p><%= t('terms.disputesDescription') %></p>
    </section>
  </main>
  </br>
  </br>
  </br>
<%- include('partials/footer') %>